* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
  overflow-x: hidden;
}

.background {
  background-image: url("images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  border-radius: 0 0 0 80px;
  width: 375px;
  height: 718px;
  left: 0;
  right: 0;
  top: 0;
  background-position: 0% 80%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  background-color: white;
  color: #6070ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: 50px;
  padding: 45px 0;
}

body.active {
  overflow-y: hidden;
}

.bold {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 206px 24px 0;
}

.logo {
  width: 76px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-left: 24px;
}

.menu {
  padding-right: 50px;
}

.logo:hover {
  transform: scale(1.1);
}

.customise {
  font-size: 16px;
  line-height: 28px;
  width: 327px;
  color: #344563;
  margin: 12px 24px;
}

.next-color {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  margin-left: 24px;
  margin-bottom: 12px;
}

.twitter {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) 0 0;
  margin-left: 24px;
}

.linkedin {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -35px 0;
  margin-left: -5px;
}

.medium {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -70px 0;
  margin-left: -5px;
}

.github {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -111px 0;
  margin-left: 4px;
}

.victory {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -145px 0;
  background-color: transparent;
  margin-left: -5px;
}

.github1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -105px 0;
  margin-left: 24px;
}

.linkedin1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -37px 0;
  margin-left: 10px;
}

.victory1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -140px 0;
  background-color: transparent;
  margin-left: -10px;
}

.twitter1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) 0 0;
  margin-left: 12px;
}

.medium1 {
  width: 36px;
  height: 35px;
  background: url(images/sprite.png) -70px 0;
  margin-left: -13px;
}

.onerow {
  display: flex;
  list-style-type: none;
}

.fa-brands {
  width: 38px;
}

.back1 {
  background-color: #e5e5e5;
  background-image: url(images/Base2.png);
  background-repeat: no-repeat;
}

.navbar a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 100%;
}

.spacebetween {
  padding: 57px 0;

  /* background-color: #e5e5e5; */
}

/* ---------------------------------------------------- work section css ------------------------------------------- */
.workbackround {
  background-color: #e5e5e5;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  padding: 12px 24px;
  background: #e5e5e5;
}

.grid-item {
  margin: -5px -8px;
  background-color: #e5e5e5;
}

.grid-item::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the works cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 88px 0;
}

.inrow {
  display: inline;
  justify-content: space-around;
  text-align: center;
  margin: 4px;
}

.workimage {
  padding: 16px 24px;
}

.innerpara {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.back {
  display: inline-block;
  color: #6070ff;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  justify-content: space-between;
  background-color: #ebebff;
  padding: 5px;
  border-radius: 8px;
}

.tonic {
  text-align: left;
  font-size: 32px;
  color: #172b4d;
}

.button {
  border: none;
  color: #396df2;
  padding: 16px 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #6070ff;
  color: white;
  padding: 20px 20px;
}

.button4 {
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
}

.button3 {
  margin-left: 24px;
}

.languages {
  padding: 36px 36px 0 36px;
  width: 327px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.languages1 {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow {
  padding-left: 130px;
}

.arrow1 {
  padding-left: 188px;
}

.langcolor {
  background-color: #f7f7f9;
}

.lang {
  padding: 36px 36px 100px;
}

.js {
  width: 303px;
  height: 66.72px;
  border-radius: 8px;
  display: flex;
  padding: 24px;
  margin: 10px 0;
  align-items: center;
}

hr {
  width: 327px;
}

.js1 {
  display: flex;
  padding-left: 30px;
}

.nodots {
  list-style-type: none;
}

.contact-box {
  background-image: url(images/Contactme.png);
  background-color: white;
  background-repeat: no-repeat;
}

.cback {
  color: #ebebff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  padding: 24px;
}

.more {
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 20px;
}

.bold1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
  padding: 82px 24px 24px;
}

.input-text {
  left: 16px;
  right: 38px;
  top: 15px;
  bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  margin-top: 2px;
}

input[type=text],
select {
  width: 100%;
  padding: 18px 24px;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  height: 18px;
  left: 16px;
  right: 38px;
  top: calc(50% - 18px / 2);
  background: #fff;
  color: #172b4d;
  display: flex;
}

input[type=submit] {
  color: #6070ff;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #6070ff;
  color: #fff;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 327px;
  height: 48px;
  display: flex;
  padding: 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

.input {
  display: flex;
  color: #6070ff;
  font-weight: 600;
  font-size: 18px;
}

textarea {
  height: 170px;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------D E S K T O P - L A Y O U T--------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .nav1 {
    display: none;
  }

  .card1 {
    display: none;
  }

  .container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    overflow-x: hidden;
  }

  .background1 {
    background-image: url("images/desktop-background.png");
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 200px 0;
    margin: auto;
    border-radius: 0 0 0 1px;
  }

  .logo {
    transition: font-size 2s;
  }

  .logo:hover {
    width: 300px;
    font-size: 50px;
  }


  .navbar1 {
    background-color: white;
    color: #6070ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 50px;
    padding: 45px 155px;
  }

  .heading {
    width: 930px;
    height: 122px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    padding: 235px 260px 2px 260px;
  }

  .github1 {
    width: 36px;
    height: 35px;
    background: url(images/sprite.png) -105px 0;
    margin-left: -6px;
  }

  .customise2 {
    font-size: 16px;
    line-height: 28px;
    width: 750px;
    color: #344563;
    margin: 64px 265px 10px;
  }

  .customise1 {
    font-size: 16px;
    line-height: 28px;
    width: 447px;
    color: #344563;
    margin: 0 0 10px;
  }

  .next-color {
    font-size: 16px;
    font-weight: 500;
    color: #7f8cff;
    margin-left: 265px;
    margin-bottom: 12px;
  }

  #hand {
    position: 180px 100px;
  }

  .onerow {
    display: flex;
    list-style-type: none;
    padding-left: 240px;
  }

  .onerow1 {
    display: flex;
    list-style-type: none;
  }

  .card1 {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin: 86px;
  }

  .inrow1 {
    display: inline;
    justify-content: space-around;
    text-align: center;
    margin: 4px;
  }

  .workimage1 {
    padding: 24px;
  }

  .sidepart1 {
    padding: 40px 0;
    width: 500px;
  }

  .sidepart2 {
    padding: 40px 24px;
    width: 500px;
  }

  .innerpara1 {
    width: 460px;
    height: 76px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .back4 {
    display: inline-block;
    color: #3b459d;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    justify-content: space-between;
    background-color: #ebebff;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }

  .tonic1 {
    text-align: left;
    width: 492px;
    height: 46px;
    font-weight: 700;
    font-size: 40px;
    color: #172b4d;
  }

  .container {
    background-image: url(images/about-desktop.png);
    display: grid;
    grid-template-columns: 548px auto;
    gap: 14px;
    padding: 10px;
    background-size: cover;
  }

  .back2 {
    background-image: url(images/about-myselff.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: 0 100px;
    padding: 100px 102px;
    margin: auto;
    border-radius: 0 0 0 8px;
  }

  .item1 {
    width: 445px;
    height: 102px;
    top: 126px;
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .item2 {
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .langcolor {
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 10px;
  }

  .js {
    width: 625px;
    height: 66.72px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin: 10px 0;
    align-items: center;
  }

  .lang {
    width: 606px;
  }

  .lang1 {
    width: 606px;
  }

  .lang2 {
    padding: 20px 36px 15px 0;
  }

  hr {
    width: 100%;
  }

  .js1 {
    display: flex;
    padding-left: 30px;
  }

  .nodots {
    list-style-type: none;
    display: flex;
  }

  .nodots1 {
    list-style-type: none;
  }

  .contact {
    margin-bottom: 10px;
    background-color: white;
    background-repeat: no-repeat;
  }

  .cback {
    background-image: url("images/contact-form.png");
    color: #ebebff;
    font-size: 20px;
    font-weight: 100;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 569px; /* Make the grid smaller than the container */
    gap: 10px;
    padding: 10px;
  }

  .cback > div {
    text-align: center;
    padding: 20px 0;
  }

  .more {
    width: 564px;
    height: 102px;
    left: 24px;
    top: 4802px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #ebebff;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 20px;
  }

  .bold1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #fff;
    padding: 180px 24px 24px;
  }

  .letsconnect {
    width: 117px;
    height: 24px;
    padding: 12px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social-media {
    display: flex;
    padding-top: 12.59px;
  }

  .bold2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    padding: 10px 0;
  }

  .languages2 {
    padding: 24px 36px 6px 0;
    width: 640px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 0 10px 0 0;
  }

  .languages1 {
    height: 24px;
    left: 12px;
    right: 78px;
    top: calc(50% - 24px / 2);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  /* .arrow {
    padding-left: 130px;
  } */

  .arrow1 {
    padding-left: 188px;
  }

  .input-text {
    left: 16px;
    right: 38px;
    top: 15px;
    bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    margin-top: 2px;
  }

  input[type=text],
  select {
    width: 100%;
    padding: 18px 24px;
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    height: 18px;
    left: 16px;
    right: 38px;
    top: calc(50% - 18px / 2);
    background: #fff;
    color: #172b4d;
    display: flex;
  }

  input[type=submit] {
    color: #6070ff;
    padding: 16px 20px;
    margin: 8px 195px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #6070ff;
    color: #fff;
  }

  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 435px;
    height: 48px;
    display: flex;
    padding: 20px;
    margin: 8px 61px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
  }

  .input {
    display: flex;
    color: #6070ff;
    font-weight: 600;
    font-size: 18px;
  }

  textarea {
    height: 170px;
  }

  .row::after {
    content: "";
    clear: both;
    display: block;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }

  html {
    font-family: 'Poppins', sans-serif;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }

  .menu {
    display: none;
  }

  .back1,
  .languages,
  .lang {
    display: none;
  }

  .card {
    display: none;
  }
}
